name: Docker Build Check
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build backend image
      run: docker build -t backend-test ./back
    - name: Build frontrnd image
      run: docker build -t fronted-test ./front
