version: "3.9"
services:
  backend:
    build: ./back
    networks:
      - front-net
      - back-net
    volumes:
      - ./back:/data
  frontend:
    build: ./front
    container_name: docker-net-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    networks:
      - front-net
    volumes:
      - ./front:/app
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: pass123
      POSTGRES_USER: appuser
      POSTEGRES_DB: appdb
    networks:
      - back-net

networks:
  front-net:
    driver: bridge
  back-net:
    driver: bridge
