name: Docker Build Check
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: set image tag
      run: echo "img_tag=${GITHUB_SHA}" >> $GUTHUB_ENV
    - name: docker login
      run: docker login -u "${{secrets.DKRHUB_UNAME}}" -p "${{secrets.DKRHUB_PSWD}}"
    - name: Build image
      run: docker compose build
    - name: Docker push
      run: docker compose push
