name: Docker Build Check
on:
  push:
    branches:
      - 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: set image tag
      run: echo "img_tag=${{ github.sha }}" >> $GITHUB_ENV
    - name: docker login
      run: docker login -u "${{secrets.DKRHUB_UNAME}}" -p "${{secrets.DKRHUB_PSWD}}"
    - name: Build image
      run: docker compose build
    - name: Docker push
      run: docker compose push

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: deploy to vm
      uses: appleboy/ssh-action@v1
        # 1. Define the variable for the Runner
      env:
        IMG_TAG: ${{ github.sha }}
      with:
        host: ${{secrets.VM_HOST}}
        username: ${{secrets.VM_USER}}
        key: ${{secrets.VM_SSH_KEY}}
          # 2. Tell the action to pass this specific variable to the VM
        envs: IMG_TAG
        script: |
            # 3. Use the variable (it is now available as $IMG_TAG)
            cd /practice_docker
            
            # Export it so docker-compose can see it
            export img_tag=$IMG_TAG
            
            echo "Successfully received tag: $img_tag"
            
            docker compose pull
            docker compose up -d
