name: Docker Build Check
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: set image tag
      run: echo "img_tag=${GITHUB_SHA}" >> $GITHUB_ENV
    - name: docker login
      run: docker login -u "${{secrets.DKRHUB_UNAME}}" -p "${{secrets.DKRHUB_PSWD}}"
    - name: Build image
      run: docker compose build
    - name: Docker push
      run: docker compose push

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: deploy to vm
        uses: appleboy/ssh-action@v1
        with:
          host: ${{secrets.VM_HOST}}
          username: ${{secrets.VM_USER}}
          key: ${{secrets.VM_SSH_KEY}}
          script: |
            cd /practice_docker
            img_tag=latest docker compose pull
            docker compose up -d
  
